* {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}
:root {
    --primary-color: #fff;
    --background-color: #000;
    --secondary-color: #bebebe;
    --border-color: hsl(0, 0%, 16%);
}
body {
    background-color: var(--background-color);
}
.header {
    font-size: 12px;
    color: var(--primary-color);
    padding-top: 8vh;
}
.logo {
    color: var(--secondary-color);
    padding-right: 3px;
}
.home {
    color: var(--primary-color);
    display: inline-block;
    padding-left: 3px;
}
.action {
    display: flex;
    justify-content: flex-end;
}
.button-menu {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 8px; 
    border: 1px solid var(--border-color);
    outline: none;
    cursor: pointer;
}
.button-menu:hover {
    background-color: hsl(0, 0%, 10%);
    border: 1px solid hsl(0, 0%, 20%);
}
.menu-panel .title {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
}
.menu-panel ul {
    padding-top: 30px;
}
.menu-panel ul li {
    color: var(--secondary-color);
    list-style-type: none;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 100;
}
.menu-panel {
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 38px;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 2;
    background-color: var(--background-color);
    opacity: 0;
    visibility: hidden;
}

.open {
    opacity: 1;
    visibility: visible;
}

.menu-panel-container {
    position: relative;
}
.person {
    position: relative;
}

.person .title {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.biography .title {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 200;
    border-top: 1px solid var(--border-color);
    padding: 12px 0 0;
}
.about-me {
    color: var(--secondary-color);
    font-size: 15px;
    padding: 12px 0 0;
    padding-top: 6vh;
    line-height: 1.6;
}
.about-me a {
    color: var(--primary-color);
    cursor: pointer;
}

.footer .title {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
}
.footer ul {
    padding-top: 30px;
}
.footer ul li {
    color: var(--secondary-color);
    list-style-type: none;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 100;
}
.footer {
    padding-top: 12vh;
    padding-bottom: 12vh;
}
.container {
    max-width: 640px;
}
.footer ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}
.header ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.notes .list {
    list-style: none;
}
.notes .item {
    background-color: var(--border-color);
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
}
.item:last-child {
    margin-bottom: 0;
}
.date {
    color: var(--secondary-color);
    font-size: 12px;
}
.quote {
    padding-top: 30px;
    color: var(--primary-color);
    font-size: 20px;
}
.author-name {
    padding-top: 20px;
    color: var(--secondary-color);
    font-size: 12px;
}
.comment {
    padding-top: 20px;
    color: var(--secondary-color);
    font-size: 12px;
}

.about-page {
    color: var(--secondary-color);
    font-size: 15px;
    padding: 12px 0 0;
    padding-top: 6vh;
    line-height: 1.6;
}

.moments .title {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}
.moments {
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.gallery {
    padding-left: 60px;
    padding-right: 60px;
}
.gallery .list {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery .list .item {
    height: 220px;
    width: 220px;
    background-color: var(--border-color);
    padding: 20px;
}
.gallery .list .item .img {
    background-image: url(../img/12.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
