*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body {
    background-color: rgb(248, 248, 226);
    color: green;
    margin: 20px;
    padding: 10px;
  }

  h1 {
    color: red;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
  }

  h3 {
    color: rgb(6, 150, 54);
    font-size: 16px;
    padding-bottom: 10px;
  }

  p {
    color: black;
    padding-bottom: 10px;
  }

  p#pink {
    color: pink;
    padding-bottom: 10px;
  }

  .pink {
    color: pink;
    padding-bottom: 10px;
  }

  p::first-letter{
    color: brown;
  }

  a {
    color: green;
    text-decoration: none;
  }

  a:hover {
    color:red;
  }